* {
    box-sizing: border-box;
}

html {
    margin: 3rem;
}

@font-face {
    font-family: MigraReg;
    src: url(./assets/font/Migra-Regular.woff);
    font-weight: 400;
}

@font-face {
    font-family: MigraBold;
    src: url(./assets/font/Migra-Extrabold.woff);
    font-weight: 700;
}

body {
    font-size: 14px;
}

h1 {
    font-size: 3rem;
    font-family: MigraBold;
    color: #804F1E;
}

h2 {
    font-size: 2rem;
    font-family: MigraBold;
    color: #804F1E;
}

h3 {
    font-size: 2rem;
    font-family: MigraReg;
    color: #804F1E;
}

h4 {
    font-size: 1.5rem;
    font-family: MigraReg;
    color: #804F1E;
}

h5 {
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #804F1E;
}

h6 {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #804F1E;
}

p {
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    color: #804F1E;
}

small {
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    color: #804F1E;
}

hr {
    opacity: 1;
    border: 1px solid;
}

.style-guide-p {
    color: grey;
    /* text-transform: uppercase; */
    font-size: 0.9rem;
}

.color-block-combine {
    margin-left: 0.5rem;
    display: inline-block;
}

.color-block {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.color-block-secondary {
    width: 150px;
    height: 50px;
    margin-bottom: 5px;
}

.default-btn {
    height: 50px;
    width: 80%;
    background: #FF5E00;
    color: white;
    border-radius: 50px;
    border-width: 0px;
}

.disabled-btn {
    height: 50px;
    width: 80%;
    background: #DEDEDE;
    color: #747474;
    border-radius: 50px;
    border-width: 0px;
}

.search {
    width: 80%;
    padding: 12px 24px;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    color: #804F1E;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #804F1E;
}

.back-btn {
    width: 30px;
}

/* radio btn style */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    line-height: 30px;
    display: inline-block;
    color: #804F1E;
    font-family: 'Roboto', sans-serif;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #804F1E;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 20px;
    height: 20px;
    background: #FF5E00;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* navbar style */
.ss-navbar {
    display: inline-block;
    width: 400px;
    padding: 1rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: white;
    box-shadow: 0px -4px 10px 5px #adadad14;
}

.navbar-elem {
    align-items: center;
    text-align: center; 
    cursor: pointer;
    float: left;
    width: 25%;
}

.navbar-elem-clicked {
    filter: invert(42%) sepia(93%) saturate(1370%) hue-rotate(335deg) brightness(100%) contrast(100%);
}

.navbar-p {
    font-size: 0.8rem;
    color: #804F1E;
    margin-top: 5px;
}

.navbar-p-clicked {
    color: #FF5E00;
}

/* dialog style */
.dialog-elem {
    width: 300px;
    text-align: center; 
}

.dialog-elem img {
    z-index: 100;
    position: relative;
}

.dialog-space {
    position: relative;
    top: -30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
    border-radius: 25px;
    background: white;
    box-shadow: 0px 7px 4px 4px #9d9d9d0f;
}
